.experienceBar {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.experienceBar span{
    font-size: 1rem;
}

.experienceBar > div {
    flex: 1;
    height: .5rem;
    border-radius: 4px;
    background-color:var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}

.experienceBar > div > div {
    height: .5rem;
    border-radius: 4px;
    background-color: var(--green);
}

.xpBorder{
 border-bottom: 3px solid var(--green);
 font-weight: 700;
}

span.currentExperience {
    position: absolute;
    bottom: 18px;
    transform: translateX(-50%);
}